.secondary{
  width: 270px;
  height: auto;
  border-radius: 10px;
  background-color: white;
  margin: 40px;
  padding: 10px;
  transition-timing-function: ease-in-out;
}

.secondary:hover{
  transform: translateY(-10px);
}

.secondary:hover button{
  background-color: rgb(0, 98, 230);
}

button{
  width: 100%;
  background-color: rgb(51, 174, 255);
  color: white;
  padding: 10px;
  /* margin: 10px; */
  border-radius: 10px;
  border: none;
}

button:hover{
  cursor: pointer;
}

.main{
  display: flex;
  gap: 20px;
  background-image: linear-gradient(to right, rgb(0, 98, 230), rgb(51, 174, 255));
  margin: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.upper1{
  text-align: center;
}

.secondfirst{
  font-size: 40px;
  font-weight: bolder;
}

.first{
  color: grey;
}


h1{
  text-align: center;
}